<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Books</title>
  <link rel="stylesheet" href="stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Spectral+SC" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <nav>
    <a href='/'>
      <h1><i class="fa fa-book" aria-hidden="true"></i> Tech Reads</h1>
    </a>
    <a class='addBook' href="/books/new">Add Book <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
  </nav>
  <section>
    <h2>Books</h2>
  </section>
  <main class='books'>
    {{#each bookData}}
    <div class='eachBook'>
      <img src="{{bookCoverURL}}" alt="cover">
      <div class='booksDetails'>
        <h3>{{bookTitle}}</h3>
        <p>{{bookGenre}}</p>
        <p>{{bookDescription}}</p>
      </div>
      <a href="/books/{{id}}/delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
     <a href="/"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    </div>
    {{/each}}
  </main>
  <footer>
    <small>&copy; Cole Carroll 2017 <a href="https://github.com/colecarroll"><i class="fa fa-github" aria-hidden="true"></i></a>
    </small>
  </footer>
</body>
</html>