<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Spectral+SC" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Delete Book</title>
</head>
<body>
   <nav>
    <a href='/'>
      <h1><i class="fa fa-book" aria-hidden="true"></i> Tech Reads</h1>
    </a>
    <a href="/books"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back</a>
  </nav>
  <main class='books'>
    <div class='eachBook'>
      <img src="{{bookData.bookCoverURL}}" alt="cover">
      <div class='booksDetails'>
        <h3>{{bookData.bookTitle}}</h3>
        <p>{{bookData.bookGenre}}</p>
        <p>{{bookData.bookDescription}}</p>
      </div>
    </div>
  </main>
    <div class='deleteButtonDiv'>
      <form class= 'editBookForm' action="/books/update/{{bookData.id}}?_method=PUT" method='POST'>
        <label for="title">Title</label>
        <input type="text" name='bookTitle' required='required' value='{{bookData.bookTitle}}'>
        <label for="genre">Genre</label>
        <input type="text" name='bookGenre' required='required' value='{{bookData.bookGenre}}'>
        <label for="bookCoverURL">Book Cover URL</label>
        <input type="url" name='bookCoverURL' required='required' value='{{bookData.bookCoverURL}}'>
        <label for="bookDescription">Book Description</label>
        <input name="bookDescription" required='required' value='{{bookData.bookDescription}}'>
        <button class='deleteButton'>Update Book?</button>
      </form>
    </div>
  <footer>
    <small>&copy; Cole Carroll 2017 <a href="https://github.com/colecarroll"><i class="fa fa-github" aria-hidden="true"></i></a>
    </small>
  </footer>
</body>
</html>